<ion-header no-border>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Serite E "Masha Dhe Ariu"</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>

      <ion-slides>
          <ion-slide>
            <ion-card (click)="watch('tqqhZ8Fsseg')"  class="serie_card macha"><h2>Seria 1</h2></ion-card>
            <ion-card (click)="watch('b2kNltL8bBU')"  class="serie_card macha1"><h2>Seria 2</h2></ion-card>
            <ion-card (click)="watch('kEvA23H0k9U')"  class="serie_card macha2"><h2>Seria 3</h2></ion-card>
          </ion-slide>
      </ion-slides>

      <ion-slides>
          <ion-slide>
            <ion-card (click)="watch('pFsOIGciZtU')"  class="serie_card macha3"><h2>Seria 4</h2></ion-card>
            <ion-card (click)="watch('NAOlICCWTDU')"  class="serie_card macha4"><h2>Seria 5</h2></ion-card>
            <ion-card (click)="watch('1BmcE6OFRyE')"  class="serie_card macha5"><h2>Seria 6</h2></ion-card>
          </ion-slide>
      </ion-slides>

       <ion-slides>
          <ion-slide>
            <ion-card (click)="watch('8BDC6UfpGS4')"  class="serie_card macha6"><h2>Seria 7</h2></ion-card>
            <ion-card (click)="watch('5HooD4YWknA')"  class="serie_card macha7"><h2>Seria 8</h2></ion-card>
            <ion-card (click)="watch('PclmLdpidKM')"  class="serie_card macha8"><h2>Seria 9</h2></ion-card>
          </ion-slide>
        </ion-slides>

        <ion-slides>
            <ion-slide>
              <ion-card (click)="watch('JJEQmrcxg3U')"  class="serie_card macha9"><h2>Seria 10</h2></ion-card>
              <ion-card (click)="watch('Y2MNJ5s3mlQ')"  class="serie_card macha10"><h2>Seria 11</h2></ion-card>
              <ion-card (click)="watch('GljCfyIQfwI')"  class="serie_card macha11"><h2>Seria 12</h2></ion-card>
            </ion-slide>
          </ion-slides>
</ion-content>