.ion-title{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.serie_card{
    width: 200px;
    height: 180px;
    background-size: cover;
    color: white;
    justify-content: center;
    align-items: flex-end;
    display: flex;
 }

 .macha{
    --background: url('/assets/images/masha.png');
 }

 .macha1{
   --background: url('/assets/images/masha1.jpg');
 }

 .macha2{
   --background: url('/assets/images/masha4.jpg');
 }

 .macha3{
   --background: url('/assets/images/masha3.png');
 }

 .macha4{
   --background: url('/assets/images/masha5.png');
 }

 .macha5{
   --background: url('/assets/images/masha6.png');
 }

 .macha6{
   --background: url('/assets/images/masha7.png');
 }

 .macha7{
   --background: url('/assets/images/masha8.png');
 }

 .macha8{
   --background: url('/assets/images/masha9.png');
 }

 .macha9{
   --background: url('/assets/images/masha10.png');
 }

 .macha10{
   --background: url('/assets/images/masha11.png');
 }

 .macha11{
   --background: url('/assets/images/masha12.png');
 }