<ion-header no-border>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Serite E "Pantera Roze"</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>

      <ion-slides>
          <ion-slide>
            <ion-card (click)="watch('59lKdaXX6Eo')"  class="serie2_card pantera"><h2>Seria 1</h2></ion-card>
            <ion-card (click)="watch('i7tfAywWUAs')"  class="serie2_card pantera1"><h2>Seria 2</h2></ion-card>
            <ion-card (click)="watch('Wc11PTox9fw')"  class="serie2_card pantera2"><h2>Seria 3</h2></ion-card>
          </ion-slide>
      </ion-slides>   

      <ion-slides>
          <ion-slide>
            <ion-card (click)="watch('P95QFn3I-oQ')"  class="serie2_card pantera3"><h2>Seria 4</h2></ion-card>
            <ion-card (click)="watch('Kcylk-GhznE')"  class="serie2_card pantera4"><h2>Seria 5</h2></ion-card>
            <ion-card (click)="watch('Yliere9dMCg')"  class="serie2_card pantera5"><h2>Seria 6</h2></ion-card>
          </ion-slide>
      </ion-slides>

       <ion-slides>
          <ion-slide>
            <ion-card (click)="watch('l7qmSRZubZQ')"  class="serie2_card pantera6"><h2>Seria 7</h2></ion-card>
            <ion-card (click)="watch('2bwjmrOJ9Ik')"  class="serie2_card pantera7"><h2>Seria 8</h2></ion-card>
            <ion-card (click)="watch('DdcugKs_9D8')"  class="serie2_card pantera8"><h2>Seria 9</h2></ion-card>
          </ion-slide>
        </ion-slides>

        <ion-slides>
            <ion-slide>
              <ion-card (click)="watch('WJQdNLZUgSI')"  class="serie2_card pantera9"><h2>Seria 10</h2></ion-card>
              <ion-card (click)="watch('7ZEfRFJBlmU')"  class="serie2_card pantera10"><h2>Seria 11</h2></ion-card>
              <ion-card (click)="watch('HMfS2CdXekY')"  class="serie2_card pantera11"><h2>Seria 12</h2></ion-card>
            </ion-slide>
          </ion-slides>
</ion-content>