.ion-title{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.serie2_card{
    width: 200px;
    height: 180px;
    background-size: cover;
    color:white;
    justify-content: center;
    align-items: flex-end;
    display: flex;
 }

 .pantera{
    --background: url('/assets/images/pantera1.png');
 }

 .pantera1{
   --background: url('/assets/images/pantera2.png');
 }

 .pantera2{
   --background: url('/assets/images/pantera3.png');
 }

 .pantera3{
   --background: url('/assets/images/pantera4.png');
 }

 .pantera4{
   --background: url('/assets/images/pantera5.png');
 }

 .pantera5{
   --background: url('/assets/images/pantera6.png');
 }

 .pantera6{
   --background: url('/assets/images/pantera7.png');
 }

 .pantera7{
   --background: url('/assets/images/pantera8.png');
 }

 .pantera8{
   --background: url('/assets/images/pantera9.png');
 }

 .pantera9{
   --background: url('/assets/images/pantera10.png');
 }

 .pantera10{
   --background: url('/assets/images/pantera11.png');
 }

 .pantera11{
   --background: url('/assets/images/pantera12.png');
 }