<ion-header no-border>
    <ion-toolbar color="tertiary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/seriale"></ion-back-button>
      </ion-buttons>
      <ion-title>Serite E "Tomi Dhe Xherri"</ion-title>
    </ion-toolbar>
  </ion-header>
   
  <ion-content>
  
        <ion-slides>
            <ion-slide>
              <ion-card (click)="watch('LLCV9aZ9g7M')"  class="serie_card tom"><h2>Seria 1</h2></ion-card>
              <ion-card (click)="watch('IC7kXsnYCWk')"  class="serie_card tom1"><h2>Seria 2</h2></ion-card>
              <ion-card (click)="watch('sJJk3maVzvA')"  class="serie_card tom2"><h2>Seria 3</h2></ion-card>
            </ion-slide>
        </ion-slides>
  
        <ion-slides>
            <ion-slide>
              <ion-card (click)="watch('cqyziA30whE')"  class="serie_card tom3"><h2>Seria 4</h2></ion-card>
              <ion-card (click)="watch('wy2DgqL1P7s')"  class="serie_card tom4"><h2>Seria 5</h2></ion-card>
              <ion-card (click)="watch('4iwBNMH1Ni0')"  class="serie_card tom5"><h2>Seria 6</h2></ion-card>
            </ion-slide>
        </ion-slides>
  
         <ion-slides>
            <ion-slide>
              <ion-card (click)="watch('wYNogsOcmh8')"  class="serie_card tom6"><h2>Seria 7</h2></ion-card>
              <ion-card (click)="watch('1O8lEIbzVGQ')"  class="serie_card tom7"><h2>Seria 8</h2></ion-card>
              <ion-card (click)="watch('OjIXzZ25tjA')"  class="serie_card tom8"><h2>Seria 9</h2></ion-card>
            </ion-slide>
          </ion-slides>
  
          <ion-slides>
              <ion-slide>
                <ion-card (click)="watch('n3Nw8MjXWgQ')"  class="serie_card tom9"><h2>Seria 10</h2></ion-card>
                <ion-card (click)="watch('CpvpZKO0Lmk')"  class="serie_card tom10"><h2>Seria 11</h2></ion-card>
                <ion-card (click)="watch('g0rYrllx2_0')"  class="serie_card tom11"><h2>Seria 12</h2></ion-card>
              </ion-slide>
            </ion-slides>
  </ion-content>