.ion-title{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
  }
  
  .serie_card{
      width: 200px;
      height: 180px;
      background-size: cover;
      color:white;
      justify-content: center;
      align-items: flex-end;
      display: flex;
   }
  
   .tom{
      --background: url('/assets/images/tomm.png');
   }
  
   .tom1{
     --background: url('/assets/images/tom1.png');
   }
  
   .tom2{
     --background: url('/assets/images/tom2.png');
   }
  
   .tom3{
     --background: url('/assets/images/tom3.png');
   }
  
   .tom4{
     --background: url('/assets/images/tom4.png');
   }
  
   .tom5{
     --background: url('/assets/images/tom5.png');
   }
  
   .tom6{
     --background: url('/assets/images/tom6.png');
   }
  
   .tom7{
     --background: url('/assets/images/tom7.png');
   }
  
   .tom8{
     --background: url('/assets/images/tom8.png');
   }
  
   .tom9{
     --background: url('/assets/images/tom9.png');
   }
  
   .tom10{
     --background: url('/assets/images/tom10.png');
   }
  
   .tom11{
     --background: url('/assets/images/tom11.png');
   }