.ion-title{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.serie_card{
    width: 200px;
    height: 180px;
    background-size: cover;
    color: white;
    justify-content: center;
    align-items: flex-end;
    display: flex;
 }

 .bean{
    --background: url('/assets/images/bean.png');
 }

 .bean1{
   --background: url('/assets/images/bean1.png');
 }

 .bean2{
   --background: url('/assets/images/bean2.png');
 }

 .bean3{
   --background: url('/assets/images/bean3.png');
 }

 .bean4{
   --background: url('/assets/images/bean4.png');
 }

 .bean5{
   --background: url('/assets/images/bean5.png');
 }

 .bean6{
   --background: url('/assets/images/bean6.png');
 }

 .bean7{
   --background: url('/assets/images/bean7.png');
 }

 .bean8{
   --background: url('/assets/images/bean8.png');
 }

 .bean9{
   --background: url('/assets/images/bean9.png');
 }

 .bean10{
   --background: url('/assets/images/bean10.png');
 }

 .bean11{
   --background: url('/assets/images/bean11.png');
 }