<ion-header no-border>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/seriale"></ion-back-button>
    </ion-buttons>
    <ion-title>Serite E "Mr Bean"</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>

      <ion-slides>
          <ion-slide>
            <ion-card (click)="watch('J4f-QkZys4M')"  class="serie_card bean"><h2>Seria 1</h2></ion-card>
            <ion-card (click)="watch('LeIm73XFN0I')"  class="serie_card bean1"><h2>Seria 2</h2></ion-card>
            <ion-card (click)="watch('BazmYrhETS8')"  class="serie_card bean2"><h2>Seria 3</h2></ion-card>
          </ion-slide>
      </ion-slides>

      <ion-slides>
          <ion-slide>
            <ion-card (click)="watch('mpe3YizJJus')"  class="serie_card bean3"><h2>Seria 4</h2></ion-card>
            <ion-card (click)="watch('z5-CjwrJFvQ')"  class="serie_card bean4"><h2>Seria 5</h2></ion-card>
            <ion-card (click)="watch('mLK4mF0xuiY')"  class="serie_card bean5"><h2>Seria 6</h2></ion-card>
          </ion-slide>
      </ion-slides>

       <ion-slides>
          <ion-slide>
            <ion-card (click)="watch('M4JUIIXUNmU')"  class="serie_card bean6"><h2>Seria 7</h2></ion-card>
            <ion-card (click)="watch('-5wXw2ySnow')"  class="serie_card bean7"><h2>Seria 8</h2></ion-card>
            <ion-card (click)="watch('sddKFz-RwHc')"  class="serie_card bean8"><h2>Seria 9</h2></ion-card>
          </ion-slide>
        </ion-slides>

        <ion-slides>
            <ion-slide>
              <ion-card (click)="watch('qSSB0zw0zCQ')"  class="serie_card bean9"><h2>Seria 10</h2></ion-card>
              <ion-card (click)="watch('7UmO9ks7laA')"  class="serie_card bean10"><h2>Seria 11</h2></ion-card>
              <ion-card (click)="watch('K_TnUBY1VuI')"  class="serie_card bean11"><h2>Seria 12</h2></ion-card>
            </ion-slide>
          </ion-slides>
</ion-content>