.serie1_card{
    width: 200px;
    height: 180px;
    background-size: cover;
    color:white;
    justify-content: center;
    align-items: flex-end;
    display: flex;
 }

 .spong{
    --background: url('/assets/images/sponge1.png');
 }

 .spong1{
   --background: url('/assets/images/sponge2.png');
 }

 .spong2{
   --background: url('/assets/images/sponge3.png');
 }

 .spong3{
   --background: url('/assets/images/sponge4.png');
 }

 .spong4{
   --background: url('/assets/images/sponge5.png');
 }

 .spong5{
   --background: url('/assets/images/sponge6.png');
 }

 .spong6{
   --background: url('/assets/images/sponge7.png');
 }

 .spong7{
   --background: url('/assets/images/sponge8.png');
 }

 .spong8{
   --background: url('/assets/images/sponge9.png');
 }

 .spong9{
   --background: url('/assets/images/sponge10.png');
 }

 .spong10{
   --background: url('/assets/images/sponge11.png');
 }

 .spong11{
   --background: url('/assets/images/sponge12.png');
 }