<ion-header no-border>
    <ion-toolbar color="tertiary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home"></ion-back-button>
      </ion-buttons>
      <ion-title>Filma të Dubluar</ion-title>
    </ion-toolbar>
  </ion-header>
   
  <ion-content>
      <ion-item>
          <ion-thumbnail slot="start">
            <img src="/assets/images/princinilit.png">
          </ion-thumbnail>
          <ion-label>
            <h3>Film Vizatimor - Princi i Nilit</h3>
            <ion-button (click)="watch('6IgfWAwH0sU')">shiko filmin</ion-button>
          </ion-label>
        </ion-item>

        <ion-item>
            <ion-thumbnail slot="start">
              <img src="/assets/images/kesul.png">
            </ion-thumbnail>
            <ion-label>
              <h3>Film Vizatimor - Kësulëkuqja</h3>
              <ion-button (click)="watch('VxFTL2TFjlQ')">shiko filmin</ion-button>
            </ion-label>
          </ion-item>
          
          <ion-item>
            <ion-thumbnail slot="start">
              <img src="/assets/images/sabrina.png">
            </ion-thumbnail>
            <ion-label>
              <h3>Film Vizatimor - Sabrina Shtriga</h3>
              <ion-button (click)="watch('AksASuuT8Ek')">shiko filmin</ion-button>
            </ion-label>
          </ion-item>

          <ion-item>
            <ion-thumbnail slot="start">
              <img src="/assets/images/ana.png">
            </ion-thumbnail>
            <ion-label>
              <h3>Film Vizatimor - Endrra e Anabelës</h3>
              <ion-button (click)="watch('QDSINTtatxU')">shiko filmin</ion-button>
            </ion-label>
          </ion-item>

          <ion-item>
            <ion-thumbnail slot="start">
              <img src="/assets/images/herkuli.png">
            </ion-thumbnail>
            <ion-label>
              <h3>Film Vizatimor - Asteriksi dhe Kleopatra</h3>
              <ion-button (click)="watch('0_PJSHCh4CU')">shiko filmin</ion-button>
            </ion-label>
          </ion-item>

          <ion-item>
            <ion-thumbnail slot="start">
              <img src="/assets/images/spirit.png">
            </ion-thumbnail>
            <ion-label>
              <h3>Film Vizatimor - Gjuetaret E Dragonjve</h3>
              <ion-button (click)="watch('sIOs339XDNw ')">shiko filmin</ion-button>
            </ion-label>
          </ion-item>

          <ion-item>
            <ion-thumbnail slot="start">
              <img src="/assets/images/jp.png">
            </ion-thumbnail>
            <ion-label>
              <h3>Film Vizatimor - Johan Padan</h3>
              <ion-button (click)="watch('GSOCdKeeOHU')">shiko filmin</ion-button>
            </ion-label>
          </ion-item>

          <ion-item>
            <ion-thumbnail slot="start">
              <img src="/assets/images/al.png">
            </ion-thumbnail>
            <ion-label>
              <h3>Film Vizatimor - Zorro Fantastiku</h3>
              <ion-button (click)="watch('dVON5X74K74')">shiko filmin</ion-button>
            </ion-label>
          </ion-item>

          <ion-item>
            <ion-thumbnail slot="start">
              <img src="/assets/images/puding.png">
            </ion-thumbnail>
            <ion-label>
              <h3>Film Vizatimor - Pudingu Magjik</h3>
              <ion-button (click)="watch('3GT6SdpcD70')">shiko filmin</ion-button>
            </ion-label>
          </ion-item>

          <ion-item>
            <ion-thumbnail slot="start">
              <img src="/assets/images/winx.png">
            </ion-thumbnail>
            <ion-label>
              <h3>Film Vizatimor - Winx Club</h3>
              <ion-button (click)="watch('jRtNa9JZUqE')">shiko filmin</ion-button>
            </ion-label>
          </ion-item>

          <ion-item>
            <ion-thumbnail slot="start">
              <img src="/assets/images/timekid.png">
            </ion-thumbnail>
            <ion-label>
              <h3>Film Vizatimor - Makina e Kohes</h3>
              <ion-button (click)="watch('cZKxUgb6wRs')">shiko filmin</ion-button>
            </ion-label>
          </ion-item>

          <ion-item>
            <ion-thumbnail slot="start">
              <img src="/assets/images/hunda.png">
            </ion-thumbnail>
            <ion-label>
              <h3>Film Vizatimor - Hundemadhi</h3>
              <ion-button (click)="watch('rRODx6l0lQU')">shiko filmin</ion-button>
            </ion-label>
          </ion-item>

          <ion-item>
            <ion-thumbnail slot="start">
              <img src="/assets/images/bm.jpg">
            </ion-thumbnail>
            <ion-label>
              <h3>Film Vizatimor - Berberi Mbretit</h3>
              <ion-button (click)="watch('dQJPZ195T44')">shiko filmin</ion-button>
            </ion-label>
          </ion-item>

          <ion-item>
            <ion-thumbnail slot="start">
              <img src="/assets/images/trili.png">
            </ion-thumbnail>
            <ion-label>
              <h3>Film Vizatimor - Trili dhe Zana Pirate</h3>
              <ion-button (click)="watch('0jEW2d5_vxI')">shiko filmin</ion-button>
            </ion-label>
          </ion-item>

          <ion-item>
              <ion-thumbnail slot="start">
                <img src="/assets/images/barbi.png">
              </ion-thumbnail>
              <ion-label>
                <h3>Film Vizatimor - Barbi dhe Zana Princeshe</h3>
                <ion-button (click)="watch('EqdoT5B_8E4')">shiko filmin</ion-button>
              </ion-label>
            </ion-item>
  </ion-content>