
.ion-title{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.flash_card {
   width: 200px;
   height: 180px;
   background-size: cover;
}

//masha
.masha1{
   --background: url('/assets/images/masha.png');
}
.masha2{
   --background: url('/assets/images/masha1.jpg');
}
.masha3{
   --background: url('/assets/images/masha3.png');
}
.masha4{
   --background: url('/assets/images/masha4.jpg');
}

//spongebobi
.sponge{
  --background: url('/assets/images/sponge1.png');
}
.sponge1{
  --background: url('/assets/images/sponge2.png');
}
.sponge2{
  --background: url('/assets/images/sponge3.png');
}
.sponge3{
  --background: url('/assets/images/sponge4.png');
}

//pantera
.pantera{
   --background: url('/assets/images/pantera1.png');
 }
 .pantera1{
   --background: url('/assets/images/pantera2.png');
 }
 .pantera2{
   --background: url('/assets/images/pantera3.png');
 }
 .pantera3{
   --background: url('/assets/images/pantera4.png');
 }


